body{
    background-color: wheat;
}
#header{
    display:block;
    justify-self: center;
    background-image: url("http://www.logospng.com/images/6/mail-logo-bing-images-6159.png");
    background-repeat: no-repeat;
    background-size: 160px;
    background-position-x: right;
    background-position-y: center;
    background-color: lightblue;
    border-radius: 20px;
}
.messageHeader{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    column-count: 3;
    column-rule-width: 10px;
    display: flex;
    background-color: whitesmoke;
}
.newHead{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    background-color: whitesmoke;
}
.content{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: block;
    margin-bottom: 10px;   
    background-color: whitesmoke;
}
.newContent{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: block;
    margin-bottom: 10px;
    background-color: whitesmoke
}
.messageContent{
    display: none;
}
.newMessageContent{
    display: none;
}
